<link rel="stylesheet" href="{{ static_url('css/style.css') }}">

<h1>Текущие показания</h1>
<table>
    <tr>
        <td>CO2, ppm</td>
        <td>{{ last.co2 }}</td>
    </tr>
    <tr>
        <td>T, C</td>
        <td>{{ last.temp }}</td>
    </tr>
    <tr>
        <td>H2O, %</td>
        <td>{{ last.hum }}</td>
    </tr>
    <tr>
        <td>P, mm</td>
        <td>{{ last.press }}</td>
    </tr>
</table>
<br>
<br>
<table border="1" cellpadding="5">
    <tr>
        <td>CO2, ppm</td>
        <td>T, C</td>
        <td>H2O, %</td>
        <td>P, mm</td>
    </tr>
    {% for i in old_data %}
    <tr>
        <td>{{ i.co2 }}</td>
        <td>{{ i.temp }}</td>
        <td>{{ i.hum }}</td>
        <td>{{ i.press }}</td>
    </tr>
    {% end %}
</table>


<script src="{{ static_url('js/highcharts/highcharts.js') }}"></script>
<script src="{{ static_url('js/highcharts/highcharts-more.js') }}"></script>
<script src="{{ static_url('js/highcharts/exporting.js') }}"></script>
<script src="{{ static_url('js/highcharts/export-data.js') }}"></script>

<!--<script src="https://code.highcharts.com/modules/accessibility.js"></script>-->

<figure class="highcharts-figure">
  <div id="co2_container"></div>
</figure>

<figure class="highcharts-figure">
  <div id="hum_container"></div>
</figure>

<script type="text/javascript">
var co2_ranges = [
    {% for i in co2_ranges%}
    [{{i[0]}}000, {{i[1]}}, {{i[2]}}],
    {% end %}
  ],
  co2_averages = [
    {% for i in co2_averages%}
    [{{i[0]}}000, {{i[1]}}],
    {% end %}
  ],
  hum_ranges = [
      {% for i in hum_ranges%}
    [{{i[0]}}000, {{i[1]}}, {{i[2]}}],
    {% end %}
  ],
  hum_averages = [
    {% for i in hum_averages%}
    [{{i[0]}}000, {{i[1]}}],
    {% end %}
  ];


Highcharts.chart('co2_container', {

  title: {
    text: 'CO2 concentration'
  },

  xAxis: {
    type: 'datetime',
  },

  yAxis: {
    title: {
      text: 'ppm'
    }
  },

  tooltip: {
    crosshairs: true,
    shared: true,
    valueSuffix: 'ppm'
  },

  series: [{
    name: 'CO2',
    data: co2_averages,
    color: Highcharts.getOptions().colors[3],
    zIndex: 1,
    marker: {
      enabled: false
    }
  }, {
    name: 'Range',
    data: co2_ranges,
    type: 'arearange',
    lineWidth: 0,
    linkedTo: ':previous',
    color: Highcharts.getOptions().colors[3],
    fillOpacity: 0.3,
    zIndex: 0,
    marker: {
      enabled: false
    }
  }]
});

Highcharts.chart('hum_container', {

  title: {
    text: 'H2O concentration'
  },

  xAxis: {
    type: 'datetime',
  },

  yAxis: {
    title: {
      text: 'ppm'
    }
  },

  tooltip: {
    crosshairs: true,
    shared: true,
    valueSuffix: '%'
  },

  series: [{
    name: 'H2O',
    data: hum_averages,
    color: Highcharts.getOptions().colors[1],
    zIndex: 1,
    marker: {
      enabled: false
    }
  }, {
    name: 'Range',
    data: hum_ranges,
    type: 'arearange',
    lineWidth: 0,
    linkedTo: ':previous',
    color: Highcharts.getOptions().colors[1],
    fillOpacity: 0.3,
    zIndex: 0,
    marker: {
      enabled: false
    }
  }]
});
</script>
