<link rel="stylesheet" href="{{ static_url('css/style.css') }}">

<h1>Текущие показания</h1>
<table>
    <tr>
        <td>CO2, ppm</td>
        <td>{{ last.co2 }}</td>
    </tr>
    <tr>
        <td>T, C</td>
        <td>{{ last.temp }}</td>
    </tr>
    <tr>
        <td>H2O, %</td>
        <td>{{ last.hum }}</td>
    </tr>
    <tr>
        <td>P, mm</td>
        <td>{{ last.press }}</td>
    </tr>
</table>
<br>
<br>

<script src="{{ static_url('js/highcharts/highcharts.js') }}"></script>
<script src="{{ static_url('js/highcharts/highcharts-more.js') }}"></script>
<script src="{{ static_url('js/highcharts/exporting.js') }}"></script>
<script src="{{ static_url('js/highcharts/export-data.js') }}"></script>
<!--<script src="https://code.highcharts.com/modules/accessibility.js"></script>-->

<figure class="highcharts-figure">
    <div id="container"></div>
</figure>

<table border="1" cellpadding="5">
    <tr>
        <td>CO2, ppm</td>
        <td>T, C</td>
        <td>H2O, %</td>
        <td>P, mm</td>
    </tr>
    {% for i in old_data %}
    <tr>
        <td>{{ i.co2 }}</td>
        <td>{{ i.temp }}</td>
        <td>{{ i.hum }}</td>
        <td>{{ i.press }}</td>
    </tr>
    {% end %}
</table>

<script type="text/javascript">
var co2_averages = [
    {% for i in co2_averages%}
    [{{i[0]}}000, {{i[1]}}],
    {% end %}
  ],
  hum_averages = [
    {% for i in hum_averages%}
    [{{i[0]}}000, {{i[1]}}],
    {% end %}
   ],
  temp_averages = [
    {% for i in temp_averages%}
    [{{i[0]}}000, {{i[1]}}],
    {% end %}
  ];

Highcharts.chart('container', {
    chart: {
        zoomType: 'x'
    },
    title: {
        text: 'Room microclimate'
    },
    xAxis: {
        type: 'datetime'
    },
    yAxis: [{
        min: 10,
        max: 40,
        labels: {
            format: '{value}°C',
            style: {
                color: '#F2B705',
                fontSize: '15px'
            }
        },
        title: {
            text: 'Temperature',
            style: {
                color: '#F2B705'
            }
        },
        opposite: true

    }, {
        min: 400,
        max: 2400,
        title: {
            text: 'CO2',
            style: {
                color: '#27F293'
            }
        },
        labels: {
            format: '{value} ppm',
            style: {
                color: '#27F293',
                fontSize: '15px'
            }
        }

    }, {
        min: 0,
        max: 80,
        title: {
            text: 'H2O',
            style: {
                color: '#1DB6F2'
            }
        },
        labels: {
            format: '{value} %',
            style: {
                color: '#1DB6F2',
                fontSize: '15px'
            }
        },
        opposite: true
    }],
    tooltip: {
        shared: true
    },
    series: [{
    name: 'Temp',
    data: temp_averages,
    yAxis: 0,
    color: '#F2B705',
    zIndex: 1,
    marker: {
      enabled: false
    }
  }, {
        name: 'CO2',
    data: co2_averages,
    yAxis: 1,
    color: '#27F293',
    zIndex: 1,
    marker: {
      enabled: false
    }
  }, {
    name: 'H2O',
    data: hum_averages,
    yAxis: 2,
    color: '#1DB6F2',
    zIndex: 1,
    marker: {
      enabled: false
    }
  }]});
</script>
