<link rel="stylesheet" href="{{ static_url('css/style.css') }}">

<h1>Текущие показания</h1>
<table>
    <tr>
        <td>CO2, ppm</td>
        <td>{{ data.co2 }}</td>
    </tr>
    <tr>
        <td>T, C</td>
        <td>{{ data.temp }}</td>
    </tr>
    <tr>
        <td>H2O, %</td>
        <td>{{ data.hum }}</td>
    </tr>
    <tr>
        <td>P, mm</td>
        <td>{{ data.press }}</td>
    </tr>
</table>
<br>
<br>
<table border="1" cellpadding="5">
    <tr>
        <td>CO2, ppm</td>
        <td>T, C</td>
        <td>H2O, %</td>
        <td>P, mm</td>
    </tr>
    {% for i in old_data %}
    <tr>
        <td>{{ i.co2 }}</td>
        <td>{{ i.temp }}</td>
        <td>{{ i.hum }}</td>
        <td>{{ i.press }}</td>
    </tr>
    {% end %}
</table>


<script src="{{ static_url('js/highcharts/highcharts.js') }}"></script>
<script src="{{ static_url('js/highcharts/highcharts-more.js') }}"></script>
<script src="{{ static_url('js/highcharts/exporting.js') }}"></script>
<script src="{{ static_url('js/highcharts/export-data.js') }}"></script>

<!--<script src="https://code.highcharts.com/modules/accessibility.js"></script>-->

<figure class="highcharts-figure">
  <div id="container"></div>
</figure>

<script type="text/javascript">
var ranges = [
    {% for i in ranges%}
    [{{i[0]}}000, {{i[1]}}, {{i[2]}}],
    {% end %}
  ],
  averages = [
    {% for i in averages%}
    [{{i[0]}}000, {{i[1]}}],
    {% end %}
  ];


Highcharts.chart('container', {

  title: {
    text: 'CO2 concentration'
  },

  xAxis: {
    type: 'datetime',
  },

  yAxis: {
    title: {
      text: 'ppm'
    }
  },

  tooltip: {
    crosshairs: true,
    shared: true,
    valueSuffix: 'ppm'
  },

  series: [{
    name: 'CO2',
    data: averages,
    color: Highcharts.getOptions().colors[3],
    zIndex: 1,
    marker: {
      enabled: false
    }
  }, {
    name: 'Range',
    data: ranges,
    type: 'arearange',
    lineWidth: 0,
    linkedTo: ':previous',
    color: Highcharts.getOptions().colors[3],
    fillOpacity: 0.3,
    zIndex: 0,
    marker: {
      enabled: false
    }
  }]
});
</script>
